:root {
  --bg: #333333;
  --font: #f8f8f8;
  --primary: #8a95f4;
  --secondary: #ee8ecd;
}

html,
body {
  font-family: "Patrick Hand", cursive;
  background: var(--bg);
  color: var(--font);
  font-size: 28px;
  padding-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  flex-direction: row;
  display: flex;
  text-align: center;
  width: fit-content;
}

main {
  height: 70vh;
  display: flex;
}
