:root {
  --bg: #10111a;
  --font: #dfe3ed;
  --purple: #8a95f4;
  --pink: #ee8ecd;
  --green: #48bca1;
  --yellow: #f47b53;
}

html,
body {
  font-family: "Patrick Hand", cursive;
  background: var(--bg);
  color: var(--font);
  font-size: 28px;
  padding-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  flex-direction: row;
  display: flex;
  text-align: center;
  width: fit-content;
  color: var(--purple);
}

main {
  height: 70vh;
  display: flex;
}

a {
  color: var(--font);
  text-decoration: none;
}
