@import url("https://css.gg/css?=|edit-black-point|moon|shape-circle|shape-hexagon|shape-square|shape-triangle|shape-zigzag|sun");

:root {
  --green-light: #2ecc71;
  --green-dark: #27ae60;
  --blue-light: #3498db;
  --blue-dark: #2980b9;
  --yellow-light: #f1c40f;
  --yellow-dark: #f39c12;
  --purple-light: #9b59b6;
  --purple-dark: #8e44ad;
  --red-light: #e74c3c;
  --red-dark: #c0392b;
  --invert-light: #34495e;
  --invert-dark: #2c3e50;
  --invert-white-light: #ecf0f1;
  --invert-white-dark: #bdc3c7;

  --primary: var(--blue-dark);
  --secondary: var(--blue-light);
  --bg: #fff;
  --font: rgb(21, 25, 27);
}

[data-theme="dark"] {
  --primary: var(--blue-light);
  --secondary: var(--blue-dark);
  --bg: rgb(21, 25, 27);
  --font: #fff;
}

.🎨 {
  cursor: pointer;
  color: var(--primary);
  opacity: 0.7;
}

.🎨:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.🎨:focus,
.🎨:active {
  transform: scale(0.8);
  opacity: 1;
}

[data-color="green-light"] {
  --primary: var(--green-dark);
  --secondary: var(var(--green-light));
}

[data-color="green-dark"] {
  --primary: var(--green-light);
  --secondary: var(var(--green-dark));
}

#💚 {
  position: absolute;
  top: 10%;
  left: 10%;
  color: var(--green-light);
}

[data-color="blue-light"] {
  --primary: var(--blue-dark);
  --secondary: var(--blue-light);
}

[data-color="blue-dark"] {
  --primary: var(--blue-light);
  --secondary: var(--blue-dark);
}

#💙 {
  position: absolute;
  top: 40%;
  left: 60%;
  color: var(--blue-light);
}

[data-color="yellow-light"] {
  --primary: var(--yellow-dark);
  --secondary: var(--yellow-light);
}

[data-color="yellow-dark"] {
  --primary: var(--yellow-light);
  --secondary: var(--yellow-dark);
}

#💛 {
  position: absolute;
  top: 60%;
  left: 50%;
  color: var(--yellow-light);
}

[data-color="purple-light"] {
  --primary: var(--purple-dark);
  --secondary: var(--purple-light);
}

[data-color="purple-dark"] {
  --primary: var(--purple-light);
  --secondary: var(--purple-dark);
}

#💜 {
  position: absolute;
  top: 70%;
  left: 15%;
  color: var(--purple-light);
}

[data-color="red-light"] {
  --primary: var(--red-dark);
  --secondary: var(--red-light);
}

[data-color="red-dark"] {
  --primary: var(--red-light);
  --secondary: var(--red-dark);
}

#❤️ {
  position: absolute;
  top: 80%;
  left: 75%;
  color: var(--red-light);
}

[data-color="invert-light"] {
  --primary: var(--invert-dark);
  --secondary: var(--invert-light);
}

[data-color="invert-dark"] {
  --primary: var(--invert-white-light);
  --secondary: var(--invert-white-dark);
}

#🖤 {
  position: absolute;
  top: 40%;
  left: 90%;
  color: var(--invert-light);
}
[data-theme="dark"] #🖤 {
  color: var(--invert-white-light);
}

html {
  background: var(--bg) !important;
  transition: all 0.2s ease-out;
}

* {
  transition: all 0.3s ease-out;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  color: var(--font);
  font-size: 20px;
}
h2 {
  font-size: 1.3em;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: var(--primary);
}
footer {
  opacity: 0.7;
}
p {
  font-size: 1.1rem;
}
nav > ul {
  list-style: none;
}

#📦 {
  padding: 4vh 10vw 3vh 10vw;
  @media (max-width: 768px) {
    padding: 5vh 5vw 5vh 5vw;
  }
}

header {
  margin-bottom: 16px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

header > a {
  color: var(--secondary);
}

#🥑 {
  font-weight: 600;
  color: var(--primary);
}

.💪🏽 {
  display: flex;
}

#🔗 {
  display: flex;
  justify-content: space-between;
}

article > header {
  display: block;
}

#🎚 {
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.gg-moon {
  color: #fefcd7;
}

.gg-sun {
  color: #fdb813;
}
