:root {
  --green-light: #50fa7b;
  --green-dark: #2ecc71;
  --blue-light: #8be9fd;
  --blue-dark: #00beff;
  --yellow-light: #f1fa8c;
  --yellow-dark: #ffe100;
  --purple-light: #bd93f9;
  --purple-dark: #d57ef9;
  --red-light: #ff5555;
  --red-dark: #e74c3c;
  --black-light: #34495e;
  --black-dark: #0e141b;
  --white-light: hsl(60, 30%, 96%);
  --white-dark: #7b8b94;

  --css: #2965f1;
  --react: #61dbfb;
  --javascript: #f0db4f;
  --typescript: #007acc;

  --primary: var(--blue-dark);
  --secondary: var(--blue-light);
  --bg: var(--black-dark);
  --font: var(--white-light);
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  color: var(--font);
  font-size: 20px;
  background: var(--bg);
}
a {
  text-decoration: none;
  color: inherit;
}
figcaption {
  text-align: center;
  color: var(--white-dark) !important;
}

/* ngprogress */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--white-light);

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--white-light), 0 0 5px var(--white-light);
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* tags */
.CSS {
  color: var(--css);
}
.JavaScript {
  color: var(--javascript);
}
.Testing {
  color: var(--green-dark);
}
.GitHub {
  color: var(--purple-dark);
}
.React {
  color: var(--react);
}
.TypeScript {
  color: var(--typescript);
}
/* Home Page Stylings */
.🏠 {
  padding: min(70px, 10vw);
}
.🐶 {
  height: 35vh;
  display: flex;
}
.📇 {
  width: 90%;
}
.👦🏼 {
  font-size: max(48px, 5vw);
  font-weight: 500;
}
.🧑🏽‍💻 {
  font-size: max(26px, 1vw);
  color: var(--white-dark);
}
.🧑🏽‍💻:hover {
  color: var(--blue-light);
}
.🔖 {
  width: 10%;
}
.📑 {
  width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(4, 25%);
  border-top: 1px solid var(--white-dark);
  border-left: 1px solid var(--white-dark);
}
.📜 {
  aspect-ratio: 1.5/1;
  padding: 20px;
  border-right: 1px solid var(--white-dark);
  border-bottom: 1px solid var(--white-dark);
  cursor: pointer;
}
.🏷 {
}

.📆 {
  margin-top: 8px;
  font-size: 0.9em;
  color: var(--white-light);
}
.🐨 {
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 2em;
  font-weight: 500;
}

/* Blog Page */
.🏫 {
  padding: 10px 70px;
}
.🦋 {
  cursor: pointer;
  color: var(--white-light);
  margin-bottom: 10px;
}
.📔 {
  padding: 50px;
}
.📔 a {
  color: var(--yellow-light);
}
.📟 {
  font-size: 1.4rem;
  width: 70%;
}
.🦁 {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 3rem;
}

/* Notion Styles */
.notion-h {
  color: var(--blue-light);
}
.notion-h:hover .notion-hash-link,
.notion-h:hover {
  cursor: pointer;
  fill: var(--blue-light);
  color: var(--blue-light);
}
.notion-table-of-contents > a:nth-child(1) {
  display: none;
}
.notion-table-of-contents > a {
  opacity: 1;
  font-size: 16px;
}
.notion-link {
  opacity: 1;
}
.notion-table-of-contents > a > span {
  border: none;
}
.notion-inline-code {
  color: var(--green);
}
b,
strong {
  color: var(--pink);
  font-weight: 600;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ol > ol {
  list-style-type: lower-alpha !important;
}

#🌐 {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

@media screen and (max-width: 768px) {
  .🏫 {
    padding: 10px 40px;
  }
  .🐶 {
    height: 20vh;
  }
  .📑 {
    grid-template-columns: repeat(1, 100%);
  }
  .📜 {
    aspect-ratio: 4/1;
  }
  .🐨 {
    font-size: 1.3rem;
  }
  .🏷 {
    font-size: 1rem;
  }
  .📆 {
    font-size: 1rem;
  }
  .📔,
  .notion-page {
    padding: 0;
  }
  .🦁 {
    font-size: 2rem;
    margin-top: 20px;
  }
  .📟 {
    width: 100%;
  }
}
